services:
    # Backend Service
    - type: web
      name: rate-limiter-api
      env: docker
      plan: free
      dockerFilePath: Dockerfile
      envVars:
          - key: REDIS_URL
            fromService:
                type: redis
                name: rate-limiter-redis
                property: connectionString
          - key: PORT
            value: 8000

    # Frontend Static Site
    - type: web
      name: distributed-rate-limiter
      env: static
      rootDir: frontend
      buildCommand: npm install && npm run build
      staticPublishPath: dist
      envVars:
          - key: VITE_API_URL
            fromService:
                type: web
                name: rate-limiter-api
                property: url

    # Redis Service
    - type: redis
      name: rate-limiter-redis
      plan: free
      ipAllowList: [] # Allow all internal connections
