services:
    - type: redis
      name: rate-limiter-redis
      plan: free

    - type: web
      name: rate-limiter-api
      env: docker
      rootDir: backend
      plan: free
      dockerFilePath: Dockerfile
      envVars:
          - key: REDIS_URL
            fromService:
                type: redis
                name: rate-limiter-redis
                property: connectionString
          - key: PORT
            value: 8000
